.about {
	@apply flex justify-center py-10;

	section {
		@apply flex flex-col gap-6;

		.title {
			@apply my-4;
		}
	}

	.work li {
		@apply ml-[1%] w-[96%] grid border-b py-1 mb-1 px-3;

		grid-template-columns: 3fr 1fr 1fr;

		.work__title {
			@apply font-extrabold;
		}
		.work__date,
		.work__company {
			@apply text-right;
		}
	}

	.skills__item {
		@apply m-1.5 py-1.5 px-3;
		padding: 5px 10px;
		border-radius: .2em;
		transform: .5s;
		letter-spacing: 0.2em;
	}
}
