.shell  {
  font-family: 'Roboto', monospace;
  letter-spacing: .12rem;

  @apply p-2 overflow-hidden w-screen h-screen overflow-y-auto;

  hr {
    @apply border-gray-500;
  }

  input,
  textarea {
    @apply bg-black border-none;
    @apply p-0 inline-block;
    width: fit-content;
    
    &:focus {
      box-shadow: none;
    }
  }
}