.nav {
  @apply bg-base-100 navbar sticky min-h-[3.5rem] max-h-14;
  z-index: 100;

  .title {
    @apply btn normal-case text-xl text-gray-lightest hover:text-primary;
  }

  .nav-menu--lg {
    @apply w-full h-full hidden pr-4 gap-10 flex-row justify-end;
    
    .nav-menu--lg__item {
      @apply text-xl no-underline py-1.5 px-4 text-gray-dark relative;
      
      span {
        @apply absolute top-0 left-0 w-full h-full;
        @apply border-primary border-b-2 opacity-0;

        z-index: -1;
        border-radius: .3rem;
        transform: scale(0) translateY(50px);
        transition: .5s;
      }

      &:hover,
      &.selected {
        @apply text-primary;
        
        span {
          @apply opacity-100;
          
          transform: scale(1) translateY(0);
        }
      }
    }
  }

  .nav-menu--sm {
    @apply block;

    .nav-menu--sm__menu-wrapper {
      @apply absolute w-full left-0;
      height: calc(100vh - 3.5rem);

      .nav-menu--sm__menu {
        @apply bg-base-100 text-xl font-extrabold text-gray-lightest;
      
        .nav-menu--sm__item {
          @apply border border-primary px-6 pt-4 relative border-b-0 h-14;
          @apply hover:bg-primary;
          
          &:last-child { @apply border-b; }
          
          a {
            @apply w-full h-full absolute;
            @apply hover:text-inherit;
          }
        }
      }
    }

    a { @apply no-underline; }
  }

  @media(min-width: 600px) {
    .nav-menu--lg {
      @apply flex;
    }
    
    .nav-menu--sm {
      @apply hidden;
    }
  }
}

