.nav {
  @apply bg-base-100 navbar min-h-[3.5rem] max-h-[3.5rem];
  z-index: 1000;

  .title {
    @apply btn normal-case text-xl text-gray-lightest hover:text-primary;
  }

  .nav-lg {
    @apply w-full h-full hidden pr-4 gap-16 flex-row justify-end;
    

    .nav-lg__item {
      @apply text-xl no-underline;
      
      &.selected {
        @apply text-primary;
      }
    }
  }

  .nav-sm {
    @apply block;

    .nav-sm__menu {
      @apply absolute w-full left-0;
      height: calc(100vh - 3.5rem);

      nav {
        @apply bg-base-100 text-xl font-extrabold text-gray-lightest;
      
        >div {
          @apply border border-primary px-6 pt-4 relative border-b-0 hover:bg-primary;
          height: 3.5rem;
          
          &:last-child {
            @apply border-b;
          }
          a {
            @apply w-full h-full absolute hover:text-inherit;
          }
        }
      }
    }

    a { @apply no-underline; }
  }

  @media(min-width: 600px) {
    .nav-lg {
      @apply flex;
    }
    
    .nav-sm {
      @apply hidden;
    }
  }
}

